<div>
  <div>
    <table mat-table [dataSource]="inventoryData" class="mat-elevation-z8" *ngIf="inventory$ | async as inventory">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

    </table>
  </div>
<table *ngIf="inventory$ | async as inventory">
  <thead>
  <tr>
  <th>Id</th>
  <th>Description</th>
  <th>Count</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let inv of inventory">
    <td>{{inv.id}}</td>
    <td>{{inv.description}}</td>
    <td>{{inv.count}}</td>
  </tr>
</tbody>
</table>

<app-timer></app-timer>

{{this.errorMessage}}

</div>
